@keyframes spin{
0% {
   transform: rotate(0deg);
 }
100% {
     transform: rotate(360deg);
  }
};

.radialLoader {
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
  margin: 2px 16px;
}

.radialLoader--red {
  border-top: 4px solid #f44336;
  border-bottom: 4px solid #f44336;
  border-right: 4px solid #f44336;
}

.radialLoader--medium {
  width: 24px;
  height: 24px;
}
